[submodule "PHP_CodeSniffer"]
    path = .bin/php/PHP_CodeSniffer
    url = https://github.com/squizlabs/PHP_CodeSniffer
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "bitpocket"]
	path = .bitpocket
	url = https://github.com/sickill/bitpocket.git
[submodule ".dynamic-colors"]
	path = .dynamic-colors
	url = https://github.com/sos4nt/dynamic-colors.git
