# A basic .muttrc for use with Gmail

# Change the following six lines to match your Gmail account details
set imap_user = "email"
set imap_pass = "password"
set smtp_url = "smtp://email@smtp.gmail.com:587/"
set smtp_pass = "password"
set from = "email"
set realname = "realname"

# Change the following line to a different editor you prefer.
set editor = "vim"

# beep on new mail
set beep_new

# HTML mail
auto_view text/html

# Basic config, you can leave this as is
set folder = "imaps://imap.gmail.com:993"
set spoolfile = "+INBOX"
set imap_check_subscribed
set hostname = gmail.com
set mail_check = 120
set timeout = 300
set imap_keepalive = 300
set postponed = "+[GMail]/Drafts"
set record = "+[GMail]/Sent Mail"
set header_cache=~/.mutt/cache/headers
set message_cachedir=~/.mutt/cache/bodies
set certificate_file=~/.mutt/certificates
set move = no
set include
set sort = 'threads'
set sort_aux = 'reverse-last-date-received'
set auto_tag = yes
ignore "Authentication-Results:"
ignore "DomainKey-Signature:"
ignore "DKIM-Signature:"
hdr_order Date From To Cc
alternative_order text/plain text/html *
auto_view text/html
bind editor <Tab> complete-query
bind editor ^T complete
bind editor <space> noop 

# Gmail-style keyboard shortcuts
macro index,pager y "<enter-command>unset trash\n <delete-message>" "Gmail archive message"
macro index,pager d "<enter-command>set trash=\"imaps://imap.googlemail.com/[GMail]/Bin\"\n <delete-message>" "Gmail delete message"
macro index,pager gi "<change-folder>=INBOX<enter>" "Go to inbox"
macro index,pager ga "<change-folder>=[Gmail]/All Mail<enter>" "Go to all mail"
macro index,pager gs "<change-folder>=[Gmail]/Starred<enter>" "Go to starred messages"
macro index,pager gd "<change-folder>=[Gmail]/Drafts<enter>" "Go to drafts"

# colors
# valid colors : white, black,  green,  magenta,
#                blue,  cyan,   yellow, red,
# Each color comes in plain (red) and bright (brightred)

# syntax:
# color  target  foreground  background  [arguments]

# Colors Managing Mail
color normal white black
color bold brightwhite black
color markers magenta black
color status black cyan
color indicator brightgreen blue
color tree green black
color error brightred black

# Colors for items in the index
color index cyan black ~N
color index blue black ~D
color index magenta black ~T

# Default Colors Reader
color hdrdefault green black
color message white black
color quoted cyan black
color signature green black
color attachment yellow black
color search brightwhite black
color tilde cyan black

# Aditional Colors Header
color header brightwhite black "^(From|Subject):"
color header blue black "^X-Spammer:"

# URL and adresses
color body brightblue black "(http|https|ftp|telnet|finger)://[^ \">\t\r\n]*"
color body cyan black "[-a-z_0-9.%$]+@[-a-z_0-9.]+\\.[-a-z][-a-z]+"
color body cyan black "mailto:[-a-z_0-9.]+@[-a-z_0-9.]+"

# Various smilies and the like
color body black yellow "[;:]-*[)>(<lt;|]"       # :-) etc...
color body black yellow "\\*[A-Za-z]+\\*"      # *Bold* text.
