set cookie-accept=origin
set html5-database=false
set html5-local-storage=false
set java-applet=false
set plugins=false
set status-font=monospace 8
set status-ssl-font=monospace 8
set status-sslinvalid-font=monospace 8
set history-max-items=10
set home-page=https://github.com/plastboks
set download-path=~/downloads
set fontsize=12
#set download-command=evince %s $VIMB_FILE
#set download-use-external=true
